body {
  margin: 0;
  padding: 0;
}
.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #2a2929;
  color: #e0e0e0;
}
.sidebar {
  width: 250px;
  background-color: #18181b;
  color: #e0e0e0;
  padding: 20px;
}
.main-content {
  flex: 1;
  padding: 30px;
}
.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  color: #10fa10b6;
}
.status.aberto {
  background-color: #10fa10b6;
  color: #fff;
}
.status.em {
  background-color: #f5a623;
  color: #fff;
}
.status.fechado {
  background-color: #f44336;
  color: #fff;
}
.total-chamados {
  border-radius: 15px;
  padding: 10px;
  background-color: #18181b;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-chamado {
  background-color: #18181b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #fffdfd;
  background-color: #1b1a1a;
  color: #fff;
}
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #fffdfd;
  background-color: #1b1a1a;
  color: #fff;
}
.adicionar-chamado {
  background-color: #d6d6ff;
  color: #010101;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.fechar-chamado {
  background-color: #f44336;
  color: #fff;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}